<div id="footer" class="rounded">
  <div class="row px-5 mt-4 rounded">
    <div class="col-12 ruler rounded"></div>
  </div>
  <div class="row px-5 mt-1 align-center">
    <div class="col-sm-12 col-md-5 px-2">
      <div class="row">
        <!-- <div class="col-3">
          <img src="../../assets/teacher/chandan.jpg" style="height: 50px;"/>
      </div> -->
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5>Contact Us</h5>
            </div>

            <div class="card-body">
              <h6 class="card-title">General and Admissions Enquiries:</h6>
              <p class="card-text">
                Monday - Sunday: 10am - 7pm
              </p>
              <span class="contact1">
                <p class="card-text"><b>Mr. Chandan Singh</b></p>
              <p class="card-text">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                </svg>
                8084507237</p>
              </span>
              <span class="contact2">
                <p class="card-text"><b>Mr. Ranjan Kumar</b></p>
              <p class="card-text">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                </svg>
                9031803592</p>
              </span>
              <p class="card-text">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
                ninetyplus125@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-12 col-md-4 px-2 technical">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5>Developed By</h5>
            </div>

            <div class="card-body">
              <h6 class="card-title">Technical Enquiries:</h6>
              <span>
                <p class="card-text"><b>Er. Saurabh Sunny</b></p>
                <a href="https://skyup259.github.io/host_profile/">sks.in</a>
              </span>
              <p class="card-text">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
                sunnygrt259@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
